@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --FlatBlue-color: #517191;            /* Flat Blue */
    --DarkBlue-color: #1e2329;            /* Dark Blue */
    --nav-color: #eaeaea;                 /* nav White */
    --shadow-color: #4e4d5e;              /* shadow    */
    --shadow2-color: #5c5c5c;             /* shadow2   */
    --shadow3-color : rgba(1 1 1 / 30%);  /* shadow    */
    --BR-color: #efeef4;                  /* BR White  */
    --text-color : #cccccc;               /* text      */
}

header {
    background-color: var(--nav-color);
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
    box-shadow: 0 4px 14px -4px var(--shadow2-color)
}

.logo {
    text-decoration: none;
    color: var(--DarkBlue-color);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
    transition: 0.7s ease;
}

.logo:hover {
    color: var(--FlatBlue-color);
}

.navigation a {
    color: var(--DarkBlue-color);
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
    transition: 0.7s ease;
}

.navigation a:hover {
    color: var(--FlatBlue-color);
}

section {
    padding: 100px 200px;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(../images/ME.png);
    background-size: 40%;
    background-repeat: no-repeat;
    background-color: var(--FlatBlue-color);
    background-position: right bottom;
}

.main h2 {
    color: var(--DarkBlue-color);
    font-size: 1.6em;
    font-weight: 500;
}

.main h2 span {
    display: inline-block;
    margin-top: 10px;
    color: var(--nav-color);
    font-size: 2.5em;
    font-weight: 500;
}

.main h3 {
    color: var(--DarkBlue-color);
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 10px 0 30px ;
}

.main-btn {
    color: var(--nav-color);
    background-color: #2a3646;
    /* box-shadow: 2px 4px 8px 0px var(--shadow-color); */
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 50px;
    margin-bottom: 40px;
    transition: 0.8s ease;
}

.main-btn:hover {
    box-shadow: 2px 4px 8px 0px var(--shadow-color);
    transform: scale(1.1);
}

.social-icons a {
    color: var(--DarkBlue-color);
    font-size: 1.7em;
    padding-right: 30px;
    transition: 0.8s ease;
}

.social-icons a:hover {
    color: var(--nav-color);
}

#services {
    background-color: var(--nav-color);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .centralizing {
    background-color: rgb(43, 198, 226);
    display: flex;
  justify-content: center;
  align-items: center;
} */

.title {
    display: flex;
    justify-content: center;
    color: var(--FlatBlue-color);
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background-color: var(--BR-color);
    width: 21.25em;
    box-shadow: 0 5px 25px var(--shadow3-color);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}

.card:hover {
    transform: scale(1.1);
}

.icon {
    text-align: center;
    margin: 50px 0;
}

.icon i img {    
    width: 7em;
}

.info {
    text-align: center;
}

.info h3 {
    color: var(--FlatBlue-color);
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

.inside {
    list-style-position: inside;
    list-style-type: "- ";
}